<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} &#124; {{ site.title }}</title>
        <link rel="stylesheet" href="{% link css/styles.css %}">
        <!-- "Instrument Sans" and "Inria Serif" -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a class="home-link" href="/">
                <img class="home-link__img" src="{% link assets/TimasTime.svg %}">
            </a>
        </nav>
        <main>{{ content }}</main>
    </body>
</html>
